SHELL='/usr/bin/bash'
BASH_ENV='/etc/environment'

ADMIN_EMAIL_ADDRESS='{{ admin_email_address }}'
ROOT_EMAIL_ADDRESS='{{ root_email_address }}'
{% if is_mysql %}

MYSQL_BACKUP_STORAGE_DIR='{{ mysql_backup_storage_dir }}'
MYSQL_BACKUP_ROTATE_CONF_PATH='{{ mysql_backup_rotate_conf_path }}'
MYSQL_DATABASE_LIST_PATH='{{ mysql_database_list_path }}'
MYSQL_SOCKET_PATH='{{ mysql_socket_path }}'
{% endif %}

BACKUP_RETENTION_DAYS={{ backup_retention_days }}
BACKUP_INCLUDE_LIST_PATH='{{ backup_include_list_path }}'
BACKUP_EXCLUDE_LIST_PATH='{{ backup_exclude_list_path }}'

{% if is_mysql %}
0 2 * * * root {{ mysql_backup_script_path }} &>> {{ backup_log_path }}
{% endif %}
0 3 * * * root {{ backup_script_path }} &>> {{ backup_log_path }}
0 4 * * * root {{ send_admin_email_script_path }} 'Backup log' < {{ backup_log_path }} &> /dev/null
5 4 * * * root /usr/sbin/logrotate {{ backup_logrotate_conf_path }} &> /dev/null
15 4 * * 1 root {{ backup_check_script_path }} | {{ send_admin_email_script_path }} 'Backup deep check log' &> /dev/null
